{:npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}
 :connect-url "ws://penguin.linux.test:[[server-port]]/figwheel-connect"
 :watch-dirs ["src"]
 :open-url false
 :ring-server-options {:port 8378}
 }
